<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>
    <%- include('../includes/navigation.ejs') %>
<!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2 style="color: #f79f24;font-size: 26px;">about us</h2>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" style="margin-top:30px ">
              <img src="images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4 style="color: #f79f24">Who we are &amp; What we do?</h4>
              <p>BOKSY is a digital place which serves the quality spaces with unbeatable price. It helps you to find the accommodations which matches your suitabilities, locations in fewer clicks. It’s a voyage to aid people who in search of better education and jobs move to new cities and find it difficult to search for rightful stays. <br><br>It’s just not a market place to generate revenue but a family which believe in giving the best of all. Unlike the other websites  who just list the places and upload unreal photos BOKSY believe in providing  the real configuration, experiences and spaces same as they are shown. It is bridging the gap between the home owner and the seekers to makes it easy on both sides.<br><br>We as a responsible and informed online platform believe in providing expedite services, decent living standards, maintaining all authenticity and at the same time takes care of your pocket. </p> 
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>The Team <small>We are dream team available 24*7</small></h2>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="images/author-image1.jpg" class="img-responsive" alt="" style="width: 300px;height: 300px">
                              </div>
                              <div class="team-info">
                                   <h3>Ayush Raj Vaish</h3>
                                   <span>--</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="https://www.facebook.com/profile.php?id=100007726428366" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="https://www.linkedin.com/in/ayush-raj-vaish-520668176" class="fa fa-linkedin"></a></li>
                                   <li><a href="https://www.instagram.com/vaishraj_arv" class="fa fa-instagram"></a></li>
                                   <li><a href="https://ayushrajvaishlko78438@gmail.com" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image" >
                                   <img src="images/author-image2.jpg" class="img-responsive" alt="" style="width: 300px;height: 300px">
                              </div>
                              <div class="team-info">
                                   <h3>Arya Vishwakarma</h3>
                                   <span>--</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="https://touch.facebook.com/profile.php?ref=bookmarks" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="https://www.linkedin.com/in/arya-vishwakarma-0875ab1a4" class="fa fa-linkedin"></a></li>
                                   <li><a href="https://www.instagram.com/aryavishwakarma16032000/?hl=hi" class="fa fa-instagram"></a></li>
                                   <li><a href="https://aryavishwakarma16032000@gmail.com" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image" >
                                   <img src="images/author-image3.jpg" class="img-responsive" alt="" style="width: 300px;height: 300px">
                              </div>
                              <div class="team-info">
                                   <h3>Vikas Chaurasiya</h3>
                                   <span>--</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                                   <li><a href="#" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image" >
                                   <img src="images/author-image4.jpg" class="img-responsive" alt=""style="width: 300px;height: 300px">
                              </div>
                              <div class="team-info">
                                   <h3>Akhilesh Pandey</h3>
                                   <span>--</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                                   <li><a href="#" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </section>


          <!-- CONTACT -->
     <section id="contact" style="background-color:#f79f24 ">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>
     
<%- include('../includes/end.ejs') %>